  </main>
  <svg class="background" viewBox="0 0 1920 1080" xmlns="http://www.w3.org/2000/svg">
    <rect y="540" width="1920" height="540" fill="white" fill-opacity="0.1"/>
    <rect x="1273" y="551" width="421" height="421" transform="rotate(12.6 1273 551)" fill="#5761E7"/>
    <path d="M480.105 493.868L677.306 562.223L519.508 698.827L480.105 493.868Z" fill="#4FEC91"/>
    <circle cx="1789.5" cy="944.5" r="327.5" fill="#4FEC91"/>
    <circle cx="170.5" cy="212.5" r="327.5" fill="#5761E7"/>
    <rect x="1274" y="838" width="421" height="421" transform="rotate(-59 1274 838)" fill="#E7D057" fill-opacity="0.5"/>
  </svg>
</body>
</html>
