<!DOCTYPE html>
<%- include("partials/head", {site: {
  title: "Contact - The Noah"
}}) %>
  <div class="text">
    <h1>Contact</h1>
    <p>You can contact me by email: <a href="mailto:thenoahbz@gmail.com" target="_blank" rel="noopener noreferrer">thenoahbz@gmail.com</a></p>
    <a class="btn" href="mailto:thenoahbz@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
  </div>
<%- include("partials/end") %>
