<!DOCTYPE html>
<%- include("partials/head", {site: {
  title: "Contact - The Noah"
}}) %>
  <div class="text">
    <h1>Contact</h1>
    <p>
      There are a few different ways to get in touch with me:<br><br>
      Email: <a href="mailto:thenoahbz@gmail.com" target="_blank" rel="noopener noreferrer">thenoahbz@gmail.com</a><br>
      Twitter: <a href="https://twitter.com/The_Noah_Blitz" target="_blank" rel="noopener noreferrer">@The_Noah_Blitz</a>
    </p>
    <a class="btn" href="mailto:thenoahbz@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
  </div>
<%- include("partials/end") %>
