<!DOCTYPE html>
<%- include("partials/head", {
  css: {
    style: css.style+css.cards_projects+css.cards
  }
}) %>
  <div class="text">
    <h1>
      Self Taught<br>
      Full-Stack<br>
      Developer
    </h1>
    <p>I’m a self taught full-stack developer learning to code for the past 10 years. I’ve been homeschooled my entire life while learning a lot about computers. I am highly motivated to learn new skills while bringing my all to everything I do.</p>
    <a class="btn" href="/projects">Projects</div>
  </div>
  <div class="cards">
    <% about.forEach((project) => { %>
      <%- include("components/card", {project}); %>
    <% }); %>
  </div>
<%- include("partials/end") %>
