<!DOCTYPE html>
<%- include("partials/head", {
  css: {
    style: css.style+css.cards_projects+css.cards
  }
}) %>
  <div class="text">
    <h1>
      Self Taught<br>
      Full-Stack<br>
      Developer
    </h1>
    <p>
      I’ve been teaching myself to code for almost 10 years, with a focus on creating websites and apps with the back-end to support them
    </p>
    <a class="btn" href="/projects">Projects</div>
  </div>
  <div class="cards">
    <% about.forEach((project) => { %>
      <%- include("components/card", {project}); %>
    <% }); %>
  </div>
<%- include("partials/end") %>
