@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

@import "variables.scss";

*{
  color: #FFF;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root{
  font-size: 18px;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: #223244;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, p{
  margin: 0;
}

header{
  padding: 2rem 4rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  @include mobile{
    padding: .5rem 1rem 2rem 1rem;
  }

  a{
    text-decoration: none;
  }

  .links{
    display: flex;
    flex-direction: row;

    @include mobile{
      position: absolute;
      top: 3.5rem;
    }

    & > *:not(:last-child){
      margin-right: 4rem;

      @include mobile{
        margin-right: 1rem;
      }
    }
  }

  .contact{
    padding: .5rem 1rem;
    border: 2px solid #FFF;
    border-radius: 2rem;
  }
}

main{
  margin-top: 4rem;
  display: flex;
  flex-direction: row;

  @include mobile{
    margin-top: 2rem;
    flex-direction: column;
  }
}

.text{
  margin-left: 6rem;

  @include mobile{
    padding: 0 1rem;
    margin: 0 auto;
  }

  h1{
    font-size: 4rem;

    @include mobile{
      font-size: 2.5rem;
    }
  }

  p{
    width: 460px;
    margin: 5rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;

    @include mobile{
      width: 100%;
      margin: 2rem 0;
    }
  }

  ul{
    margin: 0 0 3rem 0;
  }

  .btn{
    padding: 1.5rem 3rem;
    background-color: #4FEC91;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .2rem;
    display: inline-block;
    border-radius: $border-radius * 4;
    text-shadow: 0 2px .5rem rgba(0, 0, 0, .15);
    box-shadow: $shadow;
    user-select: none;

    @include mobile{
      padding: 1rem 2rem;
      font-size: 1.2rem;
    }
  }
}

.background{
  height: 100vh;
  position: fixed;
  filter: blur(100px);
  z-index: -1;
}
